body {
    min-height: 450px;
    height: 100vh;
    margin: 0;
    background: #1a3866;
    color: #fff;
    font-family: Neris-Black, arial;
}

@font-face {
    font-family: "Neris-Black";
    src: url("fonts/neris-black.ttf");
}

.table {
    border-spacing: 0 8px;
    border-collapse: inherit;
}

    .table tr {
        background: #0e5fb0;
        box-shadow: 0 2px 0 0 #000;
        border: 1px solid #0b1930;
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-shadow: 0 1px 0 #000;
        font-family: Neris-Black, arial;
        letter-spacing: -.03em;
    }

    .table td {
        vertical-align: middle;
    }